@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: aqua;
    width: 100%;
    padding: 1em;
}
nav a{
    margin: 0em 2em;
    font-size: 1.3rem;
    font-weight: 600;
}

footer{
    background-color: black;
    width: 100%;
    padding: .5em;
    text-align: center;
    color: white;
}
